<!-- c-header.njk -->

<header class="c-header">
	<h1>Hello World!</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nobis delectus doloremque recusandae tempora minima placeat. Qui, distinctio, adipisci nostrum quaerat odio deserunt eligendi voluptatum. Ex cum doloremque ipsam non?</p>
</header>