// Main Color List - try not to use
$color__black: #000000;
$color__white: #ffffff;

// Global
$color__background: $color__white;
$color__background--opp: $color__black;

$color__text: $color__black;
$color__text--opp: $color__white;
