/* Settings - Media
------------------------- */

/// $s-breakpoints
/// Establishes a map containing major breakpoints and related properties.
$s-breakpoints: (
	small: (size: 480px, grid-divisions: 6, grid-query-type: dual),
	medium: (size: 800px, grid-divisions: 8, grid-query-type: dual),
	large: (size: 960px, grid-divisions: 12, grid-query-type: min),
	xlarge: (size: 1024px, grid-divisions: 12, grid-query-type: min),
	xxlarge: (size: 1200px, grid-divisions: 12, grid-query-type: min)
);

