/* Settings - Grids
------------------------- */

$grids-gutter:                20px;
$grids-use-silent-classes:    false;
$grids-push:                  false;
$grids-pull:                  false;
$grids-use-markup-fix:        false;

$grids-breakpoint-has-widths: ('small', 'medium', 'large', 'xlarge', 'xxlarge');
$grids-breakpoint-has-push:   ('medium', 'large');
$grids-breakpoint-has-pull:   ();
