/* Settings - Layout
------------------------- */

/// $s-layers
/// Establishes a map containing z-index layers.
///
/// @example
/// $s-layers: (
/// 	0: 0,
/// 	1: 1,
/// 	2: 10,
/// 	3: 100,
/// 	4: 1000
/// );
$s-layers: (
	0: 0,
	1: 1,
	2: 10,
	3: 100,
	4: 1000
);

/// $s-vertical-layout-spacing
/// Establishes a map containing vertical layout spacing values at each defined breakpoint.
///
/// @example
/// $s-vertical-layout-spacing: (
/// 	small: (
/// 		small: 10px,
/// 		medium: 20px
/// 	),
/// 	medium: (
/// 		small: 20px,
/// 		medium: 40px
/// 	),
/// 	large: (
/// 		small: 30px,
/// 		medium: 60px
/// 	)
/// );
$s-vertical-layout-spacing: (
	xsmall: (
		small: 5px,
	),
	small: (
		small: 10px,
	),
	medium: (
		small: 20px,
	),
	large: (
		small: 30px,
	),
	xlarge: (
		small: 45px,
	),
	xxlarge: (
		small: 60px,
	)
);

/// $s-document-layout
/// Establishes a map containing key document layout settings.
$s-document-layout:(
	max-width: 100%,
	max-content-width: 1440px,
	reveal-width: 260px
);

/// $s-site-header-breakpoint
/// Defines site header breakpoint
$s-site-header-breakpoint: large;
