<!doctype html>
<html class="no-js tns" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{#if title}}{{ title }} | {{/if}}</title>
  <link rel="stylesheet" href="{{root}}css/app.css">
</head>

<body {{#if bodyClasses}}class="{{ bodyClasses }}" {{/if}}>
  {{> body}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js"></script>
  <script src="{{ root }}js/main.min.js"></script>
  <script>
    Handlebars.partials = Handlebars.templates;
  </script>
</body>

</html>